/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --dark: hsl(233deg 34% 48%);
    --light: hsl(214deg 72% 61%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}


    body ::-webkit-input-placeholder {
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        font-weight: 300;
        
    }

  
    body :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        opacity: 1;
        font-weight: 300;
    }

    body ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        opacity: 1;
        font-weight: 300;
    }

    body :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        font-weight: 300;
    }

     .show-stars{
        /* Internet Explorer 10+ */
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        font-weight: 300;
    }

.error {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

.wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 0px 0px 16px rgba(32,32,32,0.2);
    border-top: #222 1px solid;
    border-bottom: #222 1px solid;
    z-index: 1;
}

    .wrapper.theForm {
        background: linear-gradient(to bottom right, var(--light) 0%, var(--dark) 100%);
        padding: 3.5rem 0;
        animation: theForm 0.5s ease-in-out;
    }

    .wrapper.success {
        background: linear-gradient(to bottom right, hsl(316deg 34% 48%) 0%, hsl(26deg 72% 61%) 100%);
        padding: 3.5rem 0;
        animation: success 1s ease-in-out;
    }

    .wrapper.form-success .container h1 {
        transform: translateY(85px);
    }

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient( 45deg, #444, #444 40px, #484848 40px, #484848 80px );
}

    .container p {
        font-size: 1.5rem;
        margin: 1rem 0 2rem 0;
    }

    .container h1 {
        font-size: 40px;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        font-weight: 200;
    }

form {
    padding: 1rem 0 0 0;
    position: relative;
    z-index: 2;
}

    form input {
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0.5rem auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        transition-duration: 0.25s;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
    }

        form input:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        form input:focus {
            background-color: white;
            width: 300px;
            color: var(--dark);
        }

    .button-link,
    form button {
        outline: 0;
        background-color: white;
        border: transparent 2px solid;
        padding: 10px 15px;
        color: var(--dark);
        border-radius: 3px;
        width: 250px;
        cursor: pointer;
        font-size: 18px;
        transition-duration: 0.25s;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0.5rem 0;
    }

        .button-link:hover,
        form button:hover {
            background-color: rgba(255,255,255,0.8);
            border: white 2px solid;
        }

a {
    text-decoration: none;
}

.bg-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events:none;
}
    .success .bg-stars li {
        display: block;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    .bg-stars li {
        position: absolute;
        list-style: none;
        display: none;
        left: var(--left);
        width: var(--width);
        height: var(--height);
        animation: stars infinite;
        animation-delay: var(--animation-delay);
        animation-duration: var(--animation-duration);
        background-color: rgba(255, 200, 55, 0.5);
        bottom: -160px;
        transition-timing-function: linear;
    }
  
@keyframes stars {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-800px) rotate(540deg) scale(4,4);
        opacity: 0.1;
    }
}

@keyframes success {
    0% {
        padding:0px;
        opacity:0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        padding:3.5rem;
        opacity:1;
    }
}


@keyframes theForm {
    0% {
        padding: 0px;
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        padding: 3.5rem;
        opacity: 1;
    }
}

.validation-group {
    display: block;
    position: relative;
    overflow: hidden;
    height:0px;
    transition: height ease-out 0.4s;
}

.input-validation-error + .validation-group {
    height: 1.5rem;
    margin: 0.5rem 0 0 0;
}

.validation-group > span {
    display:block;
    transform:translateY(-2rem);
    transition: transform ease-out 0.6s;
}

.validation-group > span.field-validation-error {
    transform: translateY(0);
}

