@model AccountManager.Models.CredentialsViewModel

@{
    ViewData["Title"] = "Account Manager Demo";
}


<div class="container">

    @if (Model.WasSaved)
    {
        <partial name="Partials/_Success" model="Model" />
    }
    else
    {
        <partial name="Partials/_CredentialsForm" model="Model" />
    }

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(() => {
            /*Disable keyup validation on focus and restore it to onkeyup validation mode on blur*/
            $("form input[data-val-remote-url]").on({
                focus: function () {
                    $(this).closest('form').validate().settings.onkeyup = false;
                },
                blur: function () {
                    $(this).closest('form').validate().settings.onkeyup = $.validator.defaults.onkeyup;
                }
            });
        });
    </script>
}
