@model AccountManager.Models.CredentialsViewModel

<div class="wrapper">

    <h1>Create an account</h1>

    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="EmailAddress">
        <div class="validation-group">
            <span asp-validation-for="EmailAddress" class="error"></span>
        </div>
        <input asp-for="PlainTextPassword" type="password">
        <div class="validation-group">
            <span asp-validation-for="PlainTextPassword" class="error"></span>
        </div>
        <button type="submit" id="submit-button">Create a new account</button>
    </form>

</div>