@model AccountManager.Models.CredentialsViewModel

<h1>Success!</h1>
<p>
    An account has been created for:<br/>
    <strong>@Model.EmailAddress</strong>
</p>
<a href="/" class="button-link">Add Another Account?</a>
